<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metacoders.cakri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.lists.All_List_Page"/>
        <activity android:name=".Activities.Contact_us"></activity>
        <activity android:name=".Activities.lists.Book_Mark_List" />
        <activity android:name=".Activities.Details.SinglePostDownloadArea" />
        <activity android:name=".Activities.lists.FaqList" />
        <activity android:name=".Activities.Search" />
        <activity android:name=".Activities.RankPage" />
        <activity android:name=".Activities.Profile_Activity" />
        <activity android:name=".Activities.OTPActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.login_activity" />
        <activity android:name=".Activities.lists.NotificaitonList" />
        <activity android:name=".Activities.ModelTestSummery" />
        <activity android:name=".Activities.Details.ModelQustionDetails" />
        <activity android:name=".Activities.lists.AllModelQusList" />
        <activity android:name=".Result_age_calculator" />
        <activity android:name=".AgeCalculator" />
        <activity android:name=".Activities.lists.All_Job_Prep" />
        <activity android:name=".Activities.lists.All_Circular_List" />
        <activity android:name=".Quiz_Activity" />

        <service
            android:name=".Service.persistant_service"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BcsModelQusPrep" />
        <activity android:name=".BankModelQusPrep" />
        <activity android:name=".modelTestCategory" />
        <activity android:name=".jobCircularCategory" />
        <activity android:name=".allJobSolution" />
        <activity android:name=".bcsSpecialPage" />
        <activity android:name=".Activities.Details.PostDetailActivity" />
        <activity android:name=".Bank_job_special" />
        <activity android:name=".Master_List_Page" />
        <activity android:name=".Runinng_Exam_notice_and_result_page" />
        <activity android:name=".qus_bank_bcs_govt_list_page" />
        <activity android:name=".home_page" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Job_prep_page" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF2471A3" />
    </application>

</manifest>